@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    width: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(49, 39, 31) 100%);
    background-size: auto;
    width: 100%;
}

.container {
    width: auto;
    margin-inline: 50px;
}

header {
    padding: 50px 0;
}

header .logo {
    font-size: 29px;
    font-weight: 800;
    text-transform: uppercase;
}

header nav {
    float: right;
    width: 35%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: white;
}

header nav ul li.active:after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background: #957265;
    position: relative;
    top: 8px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn):not(.active-btn) a:hover {
    border-bottom: 3px solid #957265;
}

header nav ul li.btn a {
    background: #483731;
    padding: 13px 21px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background:  #957265;
}

.hero {
    padding: 40px 0;
    z-index: 1;
}

.hero .info {
    width: 556px;
    position: relative;
}

.hero .info h2 {
    font-size: 25px;
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 15px;
}

.hero .info h1 {
    padding: 5px 0;
    line-height: 130%;
    font-size: 50px;
    font-weight: 700;
}

.hero .info p {
    padding-top: 15px;
    width: 527px;
    line-height: 200%;
    font-size: 16px;
    margin-bottom: 30px;
}

.hero .info .buttons {
    width: 520px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero .info .btn {
    background: #483731;
    text-align: center;
    border: none;
    width: 200px;
    padding: 20px 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
    transition: all 500ms ease;
    margin-bottom: 40px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

.hero .info .btn-divisor {
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
}

.hero .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -1px;
    left: 660px;
    width: 55%;
}

.some-info {
    background: black;
    width: 100%;
    padding-bottom: 1000px;
}

.some-info .pictures {
    padding-bottom: 800px;
}

.some-info .pictures .img1 {
    position: relative;
    padding-top: 60px;
    width: 50%;
}

.some-info .pictures .img2 {
    position: absolute;
    width: 50%;
    top: 1400px;
    left: 550px;
}

.some-info .about-us h1 {
    font-size: 50px;
    text-align: right;
    padding-right: 30px;
}

.some-info .about-us p {
    font-size: 24px;
    text-align: right;
    float: right;
    width: 636px;
    margin: 50px 0;
    padding-right: 30px;
    right: -510px;
}

.some-info .about-us .block {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.some-info .about-us .block a {
    color: white;
}

.some-info .about-us .block h2 {
    font-size: 30px;
    font-weight: 700;
}

.some-info .about-us .block img {
    width: 215px;
    border-radius: 50%;
    margin-right: 40px;
}

.some-info .about-us .first {
    position: absolute;
    top: 2156px;
    width: 435px;
}

.some-info .about-us .second {
    position: absolute;
    top: 2441px;
    width: 346px;
}

.some-info .about-us .third {
    position: absolute;
    top: 2726px;
    width: 367px;
}

.some-info .about-us .fourth {
    position: absolute;
    top: 2726px;
    width: 345px;
    left: 700px
}



.some-info .about-us .fifth {
    position: absolute;
    top: 3011px;
    width: 418px;
}

.some-info .about-us .sixth {
    position: absolute;
    top: 3011px;
    width: 412px;
    left: 700px
}

footer .inf {
    display: flex;
    justify-content: space-around;
    padding-top: 130px;
    padding-bottom: 30px;
}

footer .inf .logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

footer .inf .topic {
    font-size: 20px;
}

footer .inf a {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

footer p {
    padding-top: 40px;
    padding-bottom: 120px;
    text-align: center;
}

.wrapper1 {
    background: black;
    background-size: auto;
    width: 100%;
}

.active-btn a {
    background:  #957265;
    padding: 13px 21px;
    border-radius: 5px;
}

.ref-sequence {
    text-align: center;
    font-size: 16px;
    padding: 40px 0;
}

.ref-sequence a {
    color: white;
    
}

.text .big-text {
    font-size: 33px;
    font-weight: 700;
    text-align: center;
}

.text .small-text {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 90px;
    text-align: center;
}

.registration {
    background: #1C140F;
    padding: 70px 0;
}

.registration h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 100px;
}

.registration form {
    margin: 80px auto;
    width: 500px;
}

.registration form .inline {
    display: flex;
    justify-content: space-between;
}

.registration form .inline > div {
    width: 50%;
}

.registration form label {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
}

.registration form input {
    background: #2C2420;
    border-radius: 10px;
    border: 0.6px solid #CECECE;
    display: block;
    padding: 15px 10px;
    outline: none;
    width: 95%;
    color: white;
    margin-top: 7px;
    margin-bottom: 30px;
}

.registration form .one-line {
    width: 97.8%;
}

.registration form button {
    background: #483731;
    border-radius: 5px;
    border: none;
    float: right;
    cursor: pointer;
    color: white;
    padding: 15px 25px;
    margin-right: 9px;
    transition: all 500ms ease;
}

.registration form button:hover {
    background: #957265;
}

.game p {
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
}
